@tailwind base;
@tailwind utilities;
@tailwind components;

.bg-body {
    background-color: #101010;
}

.bg-component {
    background-color: #202020;
}

.fav-color {
    color: #af6feb;
}

.bg-card {
    background-color: #404040;
}

.for-scroll-bar {
    scrollbar-width: none;
}

.bg-some {
    background-color: #303030;
}

.card-width {
    width: 500px;
}

.shadow-custom {
    box-shadow: 2px 2px 2px blue;
}

.transparent-box {
    box-shadow: inset 0 0 100px rgba(111, 36, 250, 0.8); /* Blue inner shadow */
}

.selected-image-width {
    width: 1400px;
}